<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184721863866-9etum6si0c1dta10acku9es98s8rng87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184721863866-9etum6si0c1dta10acku9es98s8rng87</string>
	<key>API_KEY</key>
	<string>AIzaSyDb80GZIk32KaiU0djFnmVBqqWw4i_8GqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>184721863866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buymenow.app</string>
	<key>PROJECT_ID</key>
	<string>buymenow-9171a</string>
	<key>STORAGE_BUCKET</key>
	<string>buymenow-9171a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184721863866:ios:88d230f769d10e71b77e83</string>
	<key>DATABASE_URL</key>
	<string>https://buymenow-9171a.firebaseio.com</string>
</dict>
</plist>